<?xml version="1.0" encoding="UTF-8" ?>
<Box>
    <CalculateMethodIoC>
        <calculateString>+</calculateString><className>Addition</className>
    </CalculateMethodIoC>
    <CalculateMethodIoC>
        <calculateString>-</calculateString><className>Subtraction</className>
    </CalculateMethodIoC>
</Box>



